 
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info{
    cursor: pointer;
    margin: auto;
    width: 431px;
    display: flex ;
    color: var(--color-white);
    justify-content: space-around;
}

.contact>button{
    border: 2px solid var(--color-white);
    width: 172px;
    height: 47px;
    font-size: 16px;
    background-color:  #1D1D1D;
    color: var(--color-white);
    font-weight: 600;
    cursor: pointer;
   
}