.container{
    display: flex;
    flex-direction: column;
    background-color: 
    rgba(71, 71, 71, 0.5);
    margin-top: 217px;
    margin-bottom: 42px;
    height: 356px;
}

.text{
    display: flex;
    justify-content: center;
padding-top: 93px;

font-size: 55px;
font-weight: 500;
}

.innerContainer{
    margin-top: 42px;
    display: flex;
    justify-content: center;
}

.innerContainer>input{
width: 276px;
height: 53px;
border-radius: 8px 0px 0px 8px;
margin-right: 5px;
font-size: 14px;
font-style: italic;
font-weight: 400;
}
 ::placeholder{
    padding: 18px ;
}

.innerContainer>button{
width: 116px;
height: 53px;
border-radius: 0px 8px 8px 0px;
background-color: var(--color-primary);
color: var(--color-black);
font-weight:700;
font-size:14px;
}