.container {
    width: 1140px;
    height: 1228px;
    border-radius: 14px;
    
}

.card{
    width: 1139px;
    height: 551px;
}

.text {
  display: flex;
  justify-content: center;
 
  height: 77px;
  font-size: 54px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0em;
  margin-top: 179px;
  margin-bottom: 65px;
  
}

.subContainer {
  display: flex;
  justify-content: space-around;
  
  margin-bottom: 30px;
}

.imageText {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 80%;
  text-align: center; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.cardImg {
  height: auto;
  border-radius: 15px;
}
.card1 {
  display: flex;
  position: relative;
  height: 342px;
  margin-right: 30px;

}
.card2 {
    display: flex;
  position: relative;
  height: 342px;
  border-radius: 15px;
  
}